<html lang="en" data-bs-theme="dark">
    <head>
        <link href="../../../../css/main.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>      
    </head>
    
<body>

  <nav class="ChooseInstrument navbar navbar-expand-lg">
    <div class="container-fluid h-100">
      <div class="collapse navbar-collapse h-100" id="navbarNavDropdown">
        <ul class="navbar-nav">                   
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle me-4 fs-3"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="GetSubscribedInstruments()">
              Instrument
            </a>
            <ul class="dropdown-menu">              
              <li *ngFor="let instrument of subscribedInstruments" ><a class="dropdown-item" (click)="SetCurrentInstrument(instrument.name);">{{instrument.name}}</a></li>              
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fs-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Interval
            </a>
            <ul class="dropdown-menu">
              <li *ngFor="let interval of intervals" ><a class="dropdown-item" (click)="SetCurrentInterval(interval);">{{interval}}</a></li>                
            </ul>
          </li>                  
        </ul>
      </div>

      <div class="spacer container d-flex px-4" style="width: 40%;">
        <button type="button" class="btn btn-danger w-100" (click)="DeleteChartData()">Delete Chart Data</button>
      </div>

      <div class="container bg-light-subtle h-75 m-0 p-0 border rounded-2 d-flex align-items-center">
        <p class="container p-0 m-0 text-center">{{InstrumentInfo[0]}}</p>
        <p class="container p-0 m-0 text-center ">{{InstrumentInfo[1]}}</p>
        <p class="container p-0 m-0 text-center ">{{InstrumentInfo[2]}}</p>        
        <p class="container p-0 m-0 text-center ">{{InstrumentInfo[3]}}</p>
      </div>
    </div>
  </nav>

  <div class="chart-box">
    <div id="chart" #chart></div>
  </div>

  <div class="LowerMenu container-fluid pt-4">
    <div class="row h-100">
      <div class="col h-100">
        <form class="h-100" (ngSubmit)="UpdateIntrumentData()"  #updateForm="ngForm">
          <legend class="w-100 text-center">Update Instrument data</legend>      

          <div class="container d-flex p-0 mb-1">
            <select class="form-select me-2" aria-label="Default select example" name="instrument" [(ngModel)]="UpdateInstrumentForm.Instrument">
              <option value="1" selected>Instrument</option>
              <option *ngFor="let instrument of subscribedInstruments">{{instrument.name}}</option>         
            </select>

            <select class="form-select m-0 w-auto" aria-label="Default select example" name="interval" [(ngModel)]="UpdateInstrumentForm.Interval">   
              <option value="1" selected>Interval</option>       
              <option *ngFor="let interval of intervals">{{interval}}</option>                          
            </select>
          </div>

          <div class="container p-0 m-0 d-flex flex-column">

            <div class="form-check d-flex align-items-center w-100 my-1 py-1">
              <input class="form-check-input my-1" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click)="UpdateInstrumentEnabledOption=1; UpdateInstrumentForm.Alldata=true; UpdateCheckmark(0);" [checked]="checkmarks[0]">
              <label class="form-check-label d-flex align-items-center w-auto h-100 ps-3" for="flexRadioDefault1">
                Get all data
              </label>
            </div>            
            <div class="form-check d-flex align-items-center w-100 my-1 py-1">
              <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault2" (click)="UpdateInstrumentEnabledOption=2; UpdateInstrumentForm.Alldata=false; UpdateCheckmark(1);" [checked]="checkmarks[1]" >
              <label class="form-check-label d-flex align-items-center w-auto h-100 ps-3" for="flexRadioDefault2">
                <p class="container d-flex align-items-center w-auto h-100 m-0 p-0">
                  Get data from last  
                </p>
                <input type="number" class="form-control py-1 mx-2" style="width: 20%;" aria-label="Number input with dropdown button" min="0" max="999" [disabled]="UpdateInstrumentEnabledOption!==2" name="SearchNumber" [(ngModel)]="UpdateInstrumentForm.SearchNumber">
                <select class="form-select pe-5 ps-2 py-1 m-0 w-auto" aria-label="Default select example" [disabled]="UpdateInstrumentEnabledOption!==2" name="SearchInterval" [(ngModel)]="UpdateInstrumentForm.SearchInterval">          
                  <option selected>Minutes</option>  
                  <option>Hours</option>
                  <option>Days</option>
                  <option>Weeks</option>
                  <option>Months</option>
                </select>
              </label>
            </div>
            <div class="form-check d-flex align-items-center w-100 my-1 py-1">
              <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault3" (click)="UpdateInstrumentEnabledOption=3; UpdateInstrumentForm.Alldata=false; UpdateCheckmark(2);" [checked]="checkmarks[2]">
              <label class="form-check-label d-flex align-items-center w-auto h-100 ps-3" for="flexRadioDefault3">
                <p class="container d-flex align-items-center w-auto h-100 m-0 p-0">
                  Get last  
                </p>
                <input type="number" class="form-control py-1 mx-2" style="width: 35%;" aria-label="Number input with dropdown button" min="0" max="999"  [disabled]="UpdateInstrumentEnabledOption!==3" [(ngModel)]="UpdateInstrumentForm.candlesNumber" name="candlesNumber">
                 candles                
              </label>
            </div>


            <div class="d-flex align-items-center h-auto my-1">
              <button type="submit" class="btn btn-primary">Submit</button>              
            </div>

          </div>
        </form>

      </div>
      <div class="col h-100">
        <form class="h-100" (ngSubmit)="LoadUnsubscribedChart()" #loadUnsubscribedForm="ngForm">
          <legend class="w-100 text-center">Load unsubscribed charts</legend>
          <select class="form-select py-3 mb-2" aria-label="Default select example" >   
            <option selected>Category</option>         
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          
          <div class="container d-flex p-0 mb-1">
            <select class="form-select py-3 me-2" aria-label="Default select example" disabled>   
              <option selected>Instrument</option>         
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>

            <select class="form-select m-0 w-auto" aria-label="Default select example" disabled>          
              <option selected>Interval</option>  
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>

          <div class="d-flex align-items-center h-auto my-3">
                <button type="submit" class="btn btn-primary">Submit</button>              
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>