<!-- <p>This window will provide following options: subsribe with sorting mechanism, unsubscribe symbol, list of subscribed symbols with sorting and filtering mechanism,
    ONLY SUBSCRIBED ELEMENTS WILL BE PROCESSED!
    Subsribed elements will be shown in a table with colums:
    Name
    Instrument Category
    Ask
    Bid
    Subscribed since

    Table also will be sortable and filtrable
    Every subscribed instrument can be unsubscribed by clicking on red button, can also be redirected to chart by clicking
</p> -->
<html lang="en" data-bs-theme="dark">
    <head>
        <link href="../../../../css/main.min.css" rel="stylesheet">
        <script>
             const navLinkEls = document.querySelectorAll('.nav-link');
            navLinkEls.forEach(navLinkEl =>{

                navLinkEl.addEventListener('click',()=>{
                    navLinkEl.classList.add('active');
                });
            });
        </script>
    </head>


    <body>

        <div *ngIf="initialWaiting" class="container d-flex flex-column align-items-center justify-content-center" style="min-height: 100%;">
  
            <div class="spinner-border " style="width: 7vw; height: 7vw;" role="status">
            </div>
            <p class="p-3 fs-3">Loading data, please wait...</p>
        </div>
        
        <div class="h-100 mh-100 m-0" *ngIf="!initialWaiting">

            <div class="customBar">
                <nav class="nav nav-underline justify-content-center fs-3 h-100">
                    <li class="nav-item px-5">
                        <a class="nav-link" [class.active]="navbarCheck[0]" (click)="ChooseNavbar(0)" data-toggle="tab" data-target="#manage-charts">Available instruments</a>
                    </li>
                    <li class="nav-item px-5">
                        <a class="nav-link" [class.active]="navbarCheck[1]" (click)="ChooseNavbar(1)" aria-current="page" data-toggle="tab" data-target="#manage-instruments">Subscribed instruments</a>
                    </li>               
                </nav>                
            </div>
            <nav class="FilteringMenu navbar navbar-expand-lg bg-dark p-2">
                <div class="container-fluid h-100 p-0">
                  
                  <div class="collapse navbar-collapse h-100" id="navbarSupportedContent">
                    <form class="NameForm d-flex h-75 px-1" role="search">
                        <input class="form-control me-1" type="search" placeholder="Search instrument" aria-label="Search" [(ngModel)]="filter.Name" name="NameSearch" (input)="onSearchInput(filter)">
                    </form>                                       
                    <form class="AskForm1 d-flex h-75 px-1" role="search">
                        <input class="form-control me-1" type="search" placeholder="Min Ask" aria-label="Search" [(ngModel)]="filter.MinAsk" name="MinAskSearch" (input)="onSearchInput(filter)">
                    </form>
                    <form class="AskForm1 d-flex h-75 px-1" role="search">
                        <input class="form-control me-1" type="search" placeholder="Max Ask" aria-label="Search" [(ngModel)]="filter.MaxAsk" name="MaxAskSearch" (input)="onSearchInput(filter)">
                    </form>
                    <form class="AskForm2 d-flex h-75 px-1" role="search">
                        <input class="form-control me-1" type="search" placeholder="Min leverage" aria-label="Search" [(ngModel)]="filter.MinLeverage" name="MinLeverageSearch" (input)="onSearchInput(filter)">
                    </form>
                    <form class="AskForm2 d-flex h-75 px-1" role="search">
                        <input class="form-control me-1" type="search" placeholder="Max leverage" aria-label="Search" [(ngModel)]="filter.MaxLeverage" name="MaxLeverageSearch" (input)="onSearchInput(filter)">
                    </form>
                    <ul class="navbar-nav px-2 h-75 me-auto">                      
                        <li class="nav-item dropdown">
                          <a class="nav-link bg-secondary dropdown-toggle h-100 d-flex align-items-center border rounded-2" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                            Category
                          </a>
                          <ul class="dropdown-menu">
                            <div *ngFor="let category of categories; let i = index">
                                <li><a class="dropdown-item" (click)="SetCategoryFilter(category)">{{category}}</a></li>
                            </div>                    
                          </ul>
                        </li>
                    </ul> 
                    <ul class="navbar-nav px-2 h-75">                      
                        <li class="nav-item dropdown">
                          <a class="nav-link bg-secondary dropdown-toggle h-100 d-flex align-items-center border rounded-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{currentSort}}
                          </a>
                          <ul class="dropdown-menu">
                            
                            <div *ngFor="let sortingCategory of sortingCategories; let i = index">
                                <li><a class="dropdown-item d-flex ms-auto" (click)="currentSort=sortingCategory; SortItems(currentSort,ascendingSort);">{{sortingCategory}}</a></li>
                            </div>                            
                          </ul>
                        </li>
                    </ul> 
                    <ul class="navbar-nav px-2 h-75" style="width: 10%;">                      
                        <li class="nav-item dropdown w-100" >
                          <a class="nav-link bg-secondary dropdown-toggle h-100 d-flex align-items-center border rounded-2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Ascending
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" (click)="ascendingSort=true;SortItems(currentSort,ascendingSort);">Ascending</a></li>
                            <li><a class="dropdown-item" (click)="ascendingSort=false;SortItems(currentSort,ascendingSort);">Descending</a></li>
                          </ul>
                        </li>
                    </ul> 
                    
                  </div>
                </div>
              </nav>
            <div *ngIf="currentNavbar===0" class="MyTableSpace">
                <table class="MyTable table">
                    <thead>
                        <tr>
                        <th scope="col">Instrument</th>
                        <th scope="col">Category</th>
                        <th scope="col">Ask</th>
                        <th scope="col">Bid</th>
                        <th scope="col">Leverage %</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr *ngFor="let _ of RecordsPerPage();let i = index" class="TableRow align-middle">                            
                            <td class="TableRecord">{{notSubscribedElements[(currentPage[0]-1)*8+i].name}}</td>
                            <td class="TableRecord">{{notSubscribedElements[(currentPage[0]-1)*8+i].category}}</td>
                            <td class="TableRecord">{{notSubscribedElements[(currentPage[0]-1)*8+i].ask}}</td>
                            <td class="TableRecord">{{notSubscribedElements[(currentPage[0]-1)*8+i].bid}}</td>
                            <td class="TableRecord">{{notSubscribedElements[(currentPage[0]-1)*8+i].leverage}}</td>
                            <td style="width: 15%"> 
                                <button *ngIf="notSubscribedElements[(currentPage[0]-1)*8+i].name.length>1" type="button" class="btn btn-primary w-100" [class.disabled]="notSubscribedElements[(currentPage[0]-1)*8+i].waitingResponse" (click)="SubscribeItem(notSubscribedElements[(currentPage[0]-1)*8+i].name);notSubscribedElements[(currentPage[0]-1)*8+i].waitingResponse=true;">
                                    <span *ngIf="notSubscribedElements[(currentPage[0]-1)*8+i].waitingResponse" class="spinner-border spinner-border-sm" aria-hidden="true"></span>subscribe
                                </button>
                            </td>
                        </tr>                            
                    </tbody>
                </table>
                <nav *ngIf="multipage[0]" aria-label="Page navigation example" class="m-0">
                    <ul class="pagination justify-content-center">
                      <li class="page-item" style="width: 7%;"><a class="page-link text-center" (click)="ChangePage(true,currentPage[0]-1)">Previous</a></li>
                      <li class="page-item"><a class="page-link active text-center">{{currentPage[0]}}</a></li>
                      <li class="page-item" style="width: 7%;"><a class="page-link text-center" (click)="ChangePage(true,currentPage[0]+1)">Next</a></li>
                    </ul>
                  </nav>
            </div>
            <div *ngIf="currentNavbar===1" class="MyTableSpace">
                <table class="MyTable table">
                    <thead>
                        <tr>
                        <th scope="col">Instrument</th>
                        <th scope="col">Category</th>
                        <th scope="col">Ask</th>
                        <th scope="col">Bid</th>
                        <th scope="col">Leverage %</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr *ngFor="let _ of RecordsPerPage();let i = index" class="TableRow align-middle">                            
                            <td class="TableRecord2">{{subscribedElements[(currentPage[1]-1)*8+i].name}}</td>
                            <td class="TableRecord2">{{subscribedElements[(currentPage[1]-1)*8+i].category}}</td>
                            <td class="TableRecord2">{{subscribedElements[(currentPage[1]-1)*8+i].ask}}</td>
                            <td class="TableRecord2">{{subscribedElements[(currentPage[1]-1)*8+i].bid}}</td>
                            <td class="TableRecord2">{{subscribedElements[(currentPage[1]-1)*8+i].leverage}}</td>
                            <td style="width: 25%"> 
                                <button *ngIf="subscribedElements[(currentPage[1]-1)*8+i].name.length>1" type="button" class="btn btn-primary" style="width: 45%; margin-right: 5%;" (click)="AddRecord(i)">Open chart</button>
                                <button *ngIf="subscribedElements[(currentPage[1]-1)*8+i].name.length>1" type="button" class="btn btn-danger" style="width: 45%; margin-left: 5%;" (click)="DeleteRecord(i)">Unsubscribe</button>
                            </td>
                        </tr>                            
                    </tbody>
                </table>
                <nav *ngIf="multipage[1]" aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                      <li class="page-item" style="width: 7%;"><a class="page-link text-center" (click)="ChangePage(false,currentPage[1]-1)">Previous</a></li>
                      <li class="page-item"><a class="page-link active text-center" >{{currentPage[1]}}</a></li>
                      <li class="page-item" style="width: 7%;"><a class="page-link text-center" (click)="ChangePage(false,currentPage[1]+1)">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </body>
</html>