<html lang="en" data-bs-theme="dark">
    <head>
        <link href="../../../../css/main.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>      
    </head>
    
<body>

    <div *ngIf="waitingForResponse" class="container d-flex flex-column align-items-center justify-content-center" style="min-height: 100%;">
  
        <div class="spinner-border " style="width: 7vw; height: 7vw;" role="status">
        </div>
        <p class="p-3 fs-3">Retrieving session data, please wait...</p>
    </div>


    <div *ngIf="!waitingForResponse" class="h-100 mh-100 m-0">

        <div *ngIf="!processorInitialized" class="h-100 mh-100 m-0">
            <form class="h-100" (ngSubmit)="InitializeProcessor()"  #updateForm="ngForm">
        
                <div class="Header">
                    <h2 class="text-center h-50">Set up initial parameters</h2>
                </div>

                <div class="InputParameters">
    
                    <div class="row m-0 py-0 px-2" style="height: 40%;">
                        <div class="col h-100">

                            <p style="height: 5%">Instrument included in processor</p>
                            <div class="h-50" style="overflow-y: auto;">                            
                                <ul class="list-group h-100 w-100" >
                                    <li *ngFor="let instrument of subscribedInstruments" class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="instrument.name" id="checkbox_{{instrument.name}}"
                                            (change)="CheckboxChanged(instrument.name)">
                                        <label class="form-check-label" for="firstCheckbox">{{instrument.name}}</label>
                                    </li>                                    
                                </ul>
                            </div>
                            
                        </div>
                        <div class="col h-100">

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click)="ChooseOption(0)" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Processing scope - hours
                                </label>
                            </div>

                            <div class="py-auto">
    
                                <div class="d-flex my-2">
                                    <p class="container d-flex align-items-center w-auto h-100 my-0 ms-0 me-auto p-2">Long trend: </p>
                                    <input class="form-control mx-2 px-2" type="number" placeholder="Min" aria-label="Search" style="width: 20%;" name="longTrendMinDays" [disabled]="checked!==0" [(ngModel)]="form.longTrendMinHours" min="0">
                                    <input class="form-control my-0 ms-2 me-5 px-2" type="number" placeholder="Max" aria-label="Search" style="width: 20%;" name="longTrendMaxDays" [disabled]="checked!==0" [(ngModel)]="form.longTrendMaxHours" min="1">  
                                </div>
                                                            
                                <div class="d-flex my-2">
                                    <p class="container d-flex align-items-center w-auto h-100 my-0 ms-0 me-auto p-2">Mid trend: </p>
                                    <input class="form-control mx-2 px-2" type="number" placeholder="Min" aria-label="Search" style="width: 20%;" name="midTrendMinDays" [disabled]="checked!==0" [(ngModel)]="form.midTrendMinHours" min="0"> 
                                    <input class="form-control my-0 ms-2 me-5 px-2" type="number" placeholder="Max" aria-label="Search" style="width: 20%;" name="midTrendMaxDays" [disabled]="checked!==0" [(ngModel)]="form.midTrendMaxHours" min="1"> 
                                </div>
                                                            
                                <div class="d-flex my-2">
                                    <p class="container d-flex align-items-center w-auto h-100 my-0 ms-0 me-auto p-2">Short trend: </p>
                                    <input class="form-control mx-2 px-2" type="number" placeholder="Min" aria-label="Search" style="width: 20%;" name="shortTrendMinDays" [disabled]="checked!==0" [(ngModel)]="form.shortTrendMinHours" min="0">
                                    <input class="form-control my-0 ms-2 me-5 px-2" type="number" placeholder="Max" aria-label="Search" style="width: 20%;" name="shortTrendMaxDays" [disabled]="checked!==0" [(ngModel)]="form.shortTrendMaxHours" min="1">
                                </div>
    
                            </div>      
                        </div>
                        <div class="col h-100">

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" (click)="ChooseOption(1)">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Processing scope - candles (available soon)
                                </label>
                            </div>

                            <div class="py-auto">
    
                                <div class="d-flex my-2">
                                    <p class="container d-flex align-items-center w-auto h-100 my-0 ms-0 me-auto p-2">Long trend: </p>
                                    <input class="form-control mx-2 px-2" type="number" placeholder="Min" aria-label="Search" style="width: 20%;" name="longTrendMinCandles" [disabled]="checked!==1" [(ngModel)]="form.longTrendMinCandles" min="0">
                                    <input class="form-control my-0 ms-2 me-5 px-2" type="number" placeholder="Max" aria-label="Search" style="width: 20%;" name="longTrendMaxCandles" [disabled]="checked!==1" [(ngModel)]="form.longTrendMaxCandles" min="1">
                                </div>
    
                                <div class="d-flex my-2">
                                    <p class="container d-flex align-items-center w-auto h-100 my-0 ms-0 me-auto p-2">Mid trend: </p>
                                    <input class="form-control mx-2 px-2" type="number" placeholder="Min" aria-label="Search" style="width: 20%;" name="midTrendMinCandles" [disabled]="checked!==1" [(ngModel)]="form.midTrendMinCandles" min="0">
                                    <input class="form-control my-0 ms-2 me-5 px-2" type="number" placeholder="Max" aria-label="Search" style="width: 20%;" name="midTrendMaxCandles" [disabled]="checked!==1" [(ngModel)]="form.midTrendMaxCandles" min="1">
                                </div>
                                
                                <div class="d-flex my-2">
                                    <p class="container d-flex align-items-center w-auto h-100 my-0 ms-0 me-auto p-2">Short trend: </p>
                                    <input class="form-control mx-2 px-2" type="number" placeholder="Min" aria-label="Search" style="width: 20%;" name="shortTrendMinCandles" [disabled]="checked!==1" [(ngModel)]="form.shortTrendMinCandles" min="0">
                                    <input class="form-control my-0 ms-2 me-5 px-2" type="number" placeholder="Max" aria-label="Search" style="width: 20%;" name="shortTrendMaxCandles" [disabled]="checked!==1" [(ngModel)]="form.shortTrendMaxCandles" min="1"> 
                                </div>   

                            </div>  
                            
                        </div>
                    </div>
                    <div class="row m-0 py-0 px-2" style="height: 60%;">
                        
                        <div class="d-flex m-0 py-1" style="height: 20%;">
                            <p class="container d-flex align-items-center h-100 m-0" style="width: 20%;">Checking duration: </p>
                            <input class="form-control ms-0 me-auto my-2 p-2" type="number" placeholder="Checking duration" aria-label="Search" style="width: 7%;" name="checkingDuration" [(ngModel)]="form.checkingDuration" min="0">      
                            <p class="container d-flex align-items-center h-100 text-break mx-0 my-auto px-4" style="overflow-y:auto; width:73% ;" >{{actionDescribtion[0]}}</p>                         
                        </div>
                        <div class="d-flex m-0 py-1" style="height: 20%;">
                            <p class="container d-flex align-items-center h-100 m-0" style="width: 20%;">Risk assessment: </p>
                            <input class="form-control ms-0 me-auto my-2 p-2" type="number" placeholder="Risk assessment" aria-label="Search" style="width: 7%;" name="riskAssessment" [(ngModel)]="form.riskAssessment" min="0" max="5">      
                            <p class="container d-flex align-items-center h-100 text-break mx-0 my-auto px-4" style="overflow-y:auto; width:73% ;" >{{actionDescribtion[1]}}</p>                         
                        </div>
                        <div class="d-flex m-0 py-1" style="height: 20%;">
                            <p class="container d-flex align-items-center h-100 m-0" style="width: 20%;">Minimum pips income: </p>
                            <input class="form-control ms-0 me-auto my-2 p-2" type="number" placeholder="Minimum pips income" aria-label="Search" style="width: 7%;" name="minPipsIncome" [(ngModel)]="form.minPipsIncome" min="0">      
                            <p class="container d-flex align-items-center h-100 text-break mx-0 my-auto px-4" style="overflow-y:auto; width:73% ;" >{{actionDescribtion[2]}}</p>                         
                        </div>
                        <div class="d-flex m-0 py-1" style="height: 20%;">
                            <p class="container d-flex align-items-center h-100 m-0" style="width: 20%;">Desired pips income: </p>
                            <input class="form-control ms-0 me-auto my-2 p-2" type="number" placeholder="Desired pips income" aria-label="Search" style="width: 7%;" name="desiredPipsIncome" [(ngModel)]="form.desiredPipsIncome" min="0">      
                            <p class="container d-flex align-items-center h-100 text-break mx-0 my-auto px-4" style="overflow-y:auto; width:73% ;" >{{actionDescribtion[3]}}</p>                         
                        </div>
                        <div class="d-flex m-0 py-1" style="height: 20%;">
                            <p class="container d-flex align-items-center h-100 m-0" style="width: 20%;">Stop loss pips: </p>
                            <input class="form-control ms-0 me-auto my-2 p-2" type="number" placeholder="Stop loss pips" aria-label="Search" style="width: 7%;" name="stopLossPips" [(ngModel)]="form.stopLossPips" min="0">      
                            <p class="container d-flex align-items-center h-100 text-break mx-0 my-auto px-4" style="overflow-y:auto; width:73% ;" >{{actionDescribtion[4]}}</p>                         
                        </div>
                        
                    </div>
    
                </div>                
                <div class="StartButton d-flex">
                    <button type="submit" class="btn btn-primary m-auto p-auto fs-4" style="width: 15%; height: 75%;">Initialize</button>
                </div>

            </form>
        </div>
    
        <div *ngIf="processorInitialized" class="container h-100 w-100">

            <div class="UpperMenu d-flex container-fluid py-2" style="width: 100%; height: 10%;">
                <div class="d-flex alert h-100 my-0 me-auto py-2 px-4 align-items-center fs-4" [ngClass]="{'alert-success': isProcessorActive, 'alert-danger': !isProcessorActive} " role="alert">
                    Processor status: {{processorStatus}}
                </div>
                <div class="w-50 d-flex">
                    <div class="p-2" style="width: 33%;">
                        <button class="btn btn-primary w-100 h-100" [class.disabled]="processorActive" (click)="ActivateProcessor()">Activate</button>
                    </div>
                    <div class="p-2" style="width: 33%;">
                        <button class="btn btn-primary w-100 h-100" [class.disabled]="!processorActive" (click)="DeactivateProcessor()">Deactivate</button>
                    </div>
                    <div class="p-2" style="width: 33%;">
                        <button class="btn btn-danger w-100 h-100" (click)="KillProcessor()" >Kill</button>
                    </div>
                </div>                
            </div>
            <div class="LowerMenu d-flex container-fluid row" style="width: 100%; height: 45%;">
                <div class="col h-auto bg-dark-subtle my-0 mx-2 p-0">
                    
                    <select class="form-select border border-0 rounded-0 bg-transparent w-100 m-0 p-1 text-center" style="height: 10%;" aria-label="Default select example" [(ngModel)]="currentViewInstrument" (change)="SetViewInstrument()">
                        <option class="bg-dark" value="1" selected>View processed instruments</option>
                        <option *ngFor="let instrument of subscribedInstruments" class="bg-dark" value="{{instrument.name}}">{{instrument.name}}</option>
                    </select>

                    <div class="w-100 mx-2 my-0 p-0" style="height: 90%;">
                        <div class="d-flex container-fluid w-auto m-2 my-1 p-0" style="height:auto;">
                            <p class="d-flex h-auto align-items-center my-0 me-auto">Category:</p>
                            <p class="d-flex h-auto align-items-center my-0 me-4">{{ViewInstrumentValues.category}}</p>
                        </div>
                        <div class="d-flex container-fluid w-auto m-2 my-1 p-0" style="height: auto;">
                            <p class="d-flex h-auto align-items-center my-0 me-auto">Leverage:</p>
                            <p class="d-flex h-auto align-items-center my-0 me-4">{{ViewInstrumentValues.leverage.toString()}}%</p>
                        </div>
                        <div class="d-flex container-fluid w-auto m-2 my-1 p-0" style="height: auto;">
                            <p class="d-flex h-auto align-items-center my-0 me-auto">Current spread:</p>
                            <p class="d-flex h-auto align-items-center my-0 me-4">{{ViewInstrumentValues.currentSpread.toString()}}</p>
                        </div>
                        <div class="d-flex container-fluid w-auto m-2 my-1 p-0" style="height: auto;">
                            <p class="d-flex h-auto align-items-center my-0 me-auto">Checking duration:</p>
                            <p class="d-flex h-auto align-items-center my-0 me-4">{{ViewInstrumentValues.checkingDuration.toString()}}</p>
                        </div>
                        <div class="d-flex container-fluid w-auto m-2 my-1 p-0" style="height: auto;">
                            <p class="d-flex h-auto align-items-center my-0 me-auto">Risk assessment:</p>
                            <p class="d-flex h-auto align-items-center my-0 me-4">{{ViewInstrumentValues.riskAssessment.toString()}}</p>
                        </div>
                        <div class="d-flex container-fluid w-auto m-2 my-1 p-0" style="height: auto;">
                            <p class="d-flex h-auto align-items-center my-0 me-auto">Minimum pips income:</p>
                            <p class="d-flex h-auto align-items-center my-0 me-4">{{ViewInstrumentValues.minPipsIncome.toString()}}</p>
                        </div>
                        <div class="d-flex container-fluid w-auto m-2 my-1 p-0" style="height: auto;">
                            <p class="d-flex h-auto align-items-center my-0 me-auto">Desired pips income:</p> 
                            <p class="d-flex h-auto align-items-center my-0 me-4">{{ViewInstrumentValues.desiredPipsIncome.toString()}}</p>
                        </div>
                        <div class="d-flex container-fluid w-auto m-2 my-1 p-0" style="height: auto;">
                            <p class="d-flex h-auto align-items-center my-0 me-auto">Stop loss pips:</p>
                            <p class="d-flex h-auto align-items-center my-0 me-4">{{ViewInstrumentValues.stopLossPips.toString()}}</p>
                        </div>                       
                    </div>

                </div>
                <div class="col h-auto bg-dark-subtle my-0 mx-2 p-0">
                    
                    <select class="form-select border border-0 rounded-0 bg-transparent w-100 m-0 p-1 text-center" style="height: 10%;" aria-label="Default select example" [(ngModel)]="currentUpdateInstrument" (change)="SetViewInstrument()">
                        <option class="bg-dark" value="1">Update processed instruments</option>
                        <option *ngFor="let instrument of subscribedInstruments" class="bg-dark" value="{{instrument.name}}">{{instrument.name}}</option>
                    </select>
                    
                    <div class="w-100 mx-2 my-0 p-0" style="height: 75%;">                       
                        <div class="d-flex container-fluid w-auto m-2 my-0 p-0" style="height: 20%;">
                            <p class="d-flex h-auto align-items-center m-0 me-auto">Checking duration (hours):</p>
                            <input class="form-control my-1 mx-4 px-2 h-auto" type="number" aria-label="Search" style="width: 20%;" name="longTrendMinDays" min="0" [(ngModel)]="UpdateInstrumentValues.checkingDuration">
                        </div>
                        <div class="d-flex container-fluid w-auto m-2 my-0 p-0" style="height: 20%;">
                            <p class="d-flex h-auto align-items-center m-0 me-auto">Risk assessment (1 - 5):</p>
                            <input class="form-control my-1 mx-4 px-2 h-auto" type="number" aria-label="Search" style="width: 20%;" name="longTrendMinDays" min="0" max="5" [(ngModel)]="UpdateInstrumentValues.riskAssessment">
                        </div>
                        <div class="d-flex container-fluid w-auto m-2 my-0 p-0" style="height: 20%;">
                            <p class="d-flex h-auto align-items-center m-0 me-auto">Minimum pips income:</p>
                            <input class="form-control my-1 mx-4 px-2 h-auto" type="number" aria-label="Search" style="width: 20%;" name="longTrendMinDays" min="0" [(ngModel)]="UpdateInstrumentValues.minPipsIncome">
                        </div>
                        <div class="d-flex container-fluid w-auto m-2 my-0 p-0" style="height: 20%;">
                            <p class="d-flex h-auto align-items-center m-0 me-auto">Desired pips income:</p> 
                            <input class="form-control my-1 mx-4 px-2 h-auto" type="number" aria-label="Search" style="width: 20%;" name="longTrendMinDays" min="0" [(ngModel)]="UpdateInstrumentValues.desiredPipsIncome">
                        </div>
                        <div class="d-flex container-fluid w-auto m-2 my-0 p-0" style="height: 20%;">
                            <p class="d-flex h-auto align-items-center m-0 me-auto">Stop loss pips:</p>
                            <input class="form-control my-1 mx-4 px-2 h-auto" type="number" aria-label="Search" style="width: 20%;" name="longTrendMinDays" min="0" [(ngModel)]="UpdateInstrumentValues.stopLossPips">
                        </div>                       
                    </div>

                    <div class="w-100 d-flex justify-content-center my-0 py-1" style="height: 15%;">
                        <button class="btn btn-primary" (click)="UpdateInstrument()">Update</button>
                    </div>
                    
                </div>
                <div class="col h-auto bg-dark-subtle my-0 mx-2 p-0">
                    <div class="d-flex container-fluid py-0 px-auto m-0 w-100 mx-auto" style="height: 15%;">
                        <button class="btn btn-primary w-50 p-1 my-2 mx-1" >Add instrument</button>
                        <button class="btn btn-danger w-50 p-1 my-2 mx-1">Delete instrument</button>
                    </div>
                </div>
            </div>
            <div class="chart-box py-1 px-5" style="height: 45%;">
                <div id="chart" #chart></div>
            </div>
            
        </div>    
        
    </div>
   


</body>
